

/* HEADER*/ 

* {
	margin-left: 15px;
	margin-right: 15px;
}

header{
	text-align: center;
	margin-top: 15px;
	padding: 10px;
}

#results {
	margin-bottom: 10px;
}

/* BODY GENERAL*/ 
	/* BODY-IMAGES*/
	img{
		height: 250px;
		border: 5px solid gray;
		border-radius: 30%;
		margin: 10px;

	}
	#illustration {
		display: flex;
	}
	#Orccard {
		display: flex;
		margin-top: 15px;
		width: 500px;
		align-items: center;
	    align-content: center;
	    flex-wrap: wrap;
	    flex-direction: column;
   		justify-content: flex-start;
}	

	#DragonCard{
	    visibility: hidden;
	    margin-top: 15px;
		height: 300px;
		width: 500px;
	}


	#illustration{
		border: solid black 5px;
	}

	/* BODY BOUTON ACTIONS*/   

	#conteneur-btn{
		border: solid black 5px;
	}

	#conteneur-btn button{
	    margin: 10px;
	}

	button:hover {
		background-color: darkgray;
	}

	/* BODY STATS*/   

	#conteneur-stats{
		border: solid black 5px;
		height: 65px;
	}

	#conteneur-stats #hp{
	    width: 300px;
	}

	#conteneur-stats #exp {
	    width: 300px;
	}

	

	/*TEXTAREA*/  

	#gui-log{
		border: solid black 5px;
	}

	#log{
	    height: 200px;
	    width: 400px;
		background-color: white;
		resize: none;
	}

	/* BODY MENU UP*/   

	#menu{
	    margin: 25px;
	    visibility: hidden;
	}


	#menu button {
	    margin: 10px;
	}





