
/* HEADER*/ 
/* BODY GENERAL*/   
/* BODY-CARD*/
/* BODY BOUTON ACTIONS*/   
/* BODY MENU UP*/   

#conteneur-btn button{
    margin: 10px;
}


#conteneur-stats #hp{
    width: 300px;
}

#conteneur-stats #exp {
    width: 300px;
}

#log{
    height: 200px;
    width: 400px;
	background-color: white;
	resize: none;
}

#menu{
    margin: 25px;
    visibility: hidden;
}

#menu button {
    margin: 10px;
}

#dragon{
    visibility: hidden;
}

